<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:insert="~{layout/headerFooterDynamicLayout.html}">


<main th:fragment = "content">


<div class="container mt-5">
    <!--<div class="row justify-content-center">-->
    <!--<div class="col-md-12 mb-5 mb-md-0 border-2">-->
    <div class=" shadow-lg p-4 wow"  >
        <h4 class="text-center"><b>Form III</b></h4>
        <!--<h5 class="text-center mt-0">[See Rule 12]</h5>-->
        <br/><!-- comment -->
        <br/><!-- comment -->
        <h4 class="text-center"><b>Form of appeal to the Appellate Authority. </b></h4>
        <br/>
        <p style="padding-left: 50px;">
            Before the <b th:text="${appeallist.appelateid.officename}"></b>
        </p>
        <p style="padding-left: 50px;">
            Date of Filing the Appeal: <b th:text="${#dates.format(appeallist.firstappealdate, 'yyyy-MM-dd')}"></b>
        </p>
        <br/>
        <table border="1" class="table-bordered" width="100%" style="padding-left: 50px;">
            <tr>
                <td width="50%">

                    &nbsp;&nbsp;&nbsp;1. Details of the Appellant:<br/><br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(i) Name of the person filing the Appeal:
                    <br/><br/>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(ii) Address of the person filling the Appeal:
                    <br/> <br/>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(iii) Mobile Number:
                    <br/> <br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(iv) Email:


                </td>
                <td>

                    <br/><br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="${appeallist.usercode.fullname}"></span>
                    <span th:text="${appeallist.usercode.mname}"></span>
                    <span th:text="${appeallist.usercode.lname}"></span>
                    <br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="${appeallist.usercode.address}"></span>
                    <br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="${appeallist.usercode.contact}"></span>
                    <br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="${appeallist.usercode.email}"></span>



                </td>

            </tr>
            <tr>
                <td>
                    &nbsp;&nbsp;&nbsp;2. Details of the Designated Officer against
                    whom the Appeal is Filed

                    <br/><br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(i) Name of the Designated Officer
                    and Designation:
                    <br/> <br/>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(ii) Office Address of the Designated
                    Officer:
                </td>
                <td>

                    <br/><br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="${appeallist.officeid.officername}"></span>
                    <br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="${appeallist.officeid.officename}"></span>




                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;&nbsp;&nbsp;3. Details of public service required:
                    <br/><br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(i) Application Reference Number:

                    <br/> <br/>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(ii) Application  Date:

                </td>
                <td>
                    <br/><br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="${appeallist.applicationrefno}"></span>
                    <br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="${#dates.format(appeallist.applicationdate, 'yyyy-MM-dd')}"></span>
<!--                    <br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a-->
<!--                        th:href="@{'viewapplicationdetails.htm?(referenceNo=' + ${appeallist.applicationrefno} + ',submissionDate=' + ${#dates.format(appeallist.applicationdate, 'dd/MM/yyyy')})}"-->
<!--                        target="_blank">View Detailed Application</a>-->




                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;&nbsp;&nbsp;4. Stipulated time limit for providing the service:


                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="${appeallist.subservicecode.stipulatedtime}"></span>



                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;&nbsp;&nbsp;5. List of supporting documents to avail the
                    service, if any


                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a target="_blank" th:href="@{'viewsupportdocs.htm?appealcode=' + ${appeallist.appealcode}}">View Document</a>

                    <span th:if="${appeallist.supportdoc2 != null and #strings.length(appeallist.supportdoc2) > 0}">
                        <br/>
                        <a target="_blank" th:href="@{'viewsupportdocs2.htm?appealcode=' + ${appeallist.appealcode}}">View Document</a>
                    </span>

                    <span th:if="${appeallist.supportdoc3 != null and #strings.length(appeallist.supportdoc3) > 0}">
                        <br/>
                        <a target="_blank" th:href="@{'viewsupportdocs3.htm?appealcode=' + ${appeallist.appealcode}}">View Document</a>
                    </span>

                    <span th:if="${appeallist.supportdoc4 != null and #strings.length(appeallist.supportdoc4) > 0}">
                        <br/>
                        <a target="_blank" th:href="@{'viewsupportdocs4.htm?appealcode=' + ${appeallist.appealcode}}">View Document</a>
                    </span>

                    <span th:if="${appeallist.supportdoc5 != null and #strings.length(appeallist.supportdoc5) > 0}">
                        <br/>
                        <a target="_blank" th:href="@{'viewsupportdocs5.htm?appealcode=' + ${appeallist.appealcode}}">View Document</a>
                    </span>

                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;&nbsp;&nbsp;6. Date of Decision of the Designated Officer
                    and Copy of the Order :


                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span th:if="${appeallist.ordercopy != null and #strings.length(appeallist.ordercopy) > 0}">
                        <a target="_blank" th:href="@{'viewordercopys.htm?appealcode=' + ${appeallist.appealcode}}">View</a>
                    </span>
                    <span th:unless="${appeallist.ordercopy != null and #strings.length(appeallist.ordercopy) > 0}">
                        Not Uploaded
                    </span>




                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;&nbsp;&nbsp;7. Grounds of Appeal :
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span th:text="${appeallist.groundcode1.ground}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;&nbsp;&nbsp;8. Relief sought
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span th:text="${appeallist.relief1}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;&nbsp;&nbsp;9. Any other information necessary for filling appeal
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span th:text="${appeallist.otherinfo1}"></span>
                </td>
            </tr>

        </table>
        <br/>
        <br/>

        <h5 class="text-center" style="color: #029db1;"><b>Declaration</b></h5>
        <br/>

        <p style="padding-left: 50px;">
            I, <b th:text="${appeallist.usercode.fullname} + ' ' + ${appeallist.usercode.mname} + ' ' + ${appeallist.usercode.lname}"></b> declare that the
            particulars given above are true and correct to the best of my knowledge, information and
            belief.
            <br/>
            <br/>
            Date: <span th:text="${#dates.format(appeallist.firstappealdate, 'yyyy-MM-dd')}"></span>
        </p>




    </div>

    <!--</div>-->
    <!--</div>-->
</div>
<br/>
<div class="container-fluid ">
    <div class="row">
        <div class="col-md-6 mb-5 mb-md-0">
            <!--<div class="block">-->
            <div class=" shadow-lg p-4 wow">

                <div class="form-group mb-3">
                    <h5 class="text-center" style="color: #029db1;" ><strong>Other Details</strong></h5>
                    <hr/>
                </div>
                <br>
                <div class="form-group">
                    <input type="hidden" th:value="${appealcode}" id="appealcode"/>
                    <label for="idproof"><strong>Identification Proof: </strong></label>
                    <a target="_blank" th:href="@{'viewidproofs.htm?appealcode=' + ${appeallist.appealcode}}">View</a>
                </div>
                <br/>

                <span th:if="${appeallist.ordercopy != null and #strings.length(appeallist.ordercopy) > 0}">
                    <!--
                    <div class="form-group">
                        <label for="ordercopy"><strong>Copy of the Order: </strong></label>
                        <a target="_blank" th:href="@{'viewordercopys.htm?appealcode=' + ${appeallist.appealcode}}">View</a>
                    </div>
                    <br>
                    -->
                </span>

                <div class="form-group">
                    <label for="fullname"><strong>Hearing Type : </strong></label>
                    <span th:text="${appeallist.hearingtype == '1' ? 'In Person' : 'Online'}"></span>
                </div>
                <br>

                <div class="form-group">
                    <label for="ordercopy"><strong>FORM I: </strong></label>
                    <a target="_blank" th:href="@{'viewform1doc.htm?appealcode=' + ${appeallist.appealcode}}">View</a>
                </div>
                <br>



            </div>


        </div>
        <div class="col-md-6 mb-5 mb-md-0">
            <div class=" shadow-lg p-4 wow h-100">

                <div class="form-group mb-3">
                    <h5 class="text-center" style="color: #029db1;"><strong>Designated Officer Details</strong></h5>
                    <hr/>
                </div>
                <br>
                <div class="form-group">
                    <label><strong>Office Name: </strong></label>
                    <input id="officename" class="form-control" th:value="${dos.officename}"/>



                </div>
                <br/>
                <div class="form-group">
                    <label><strong>Officer Name: </strong></label>
                    <input id="officername" class="form-control" th:value="${dos.officername}"/>
                    <input id="officeid" hidden="true" class="form-control" th:value="${dos.officeid}"/>


                </div>
                <br/>


                <label><strong>Email: </strong></label>
                <input id="email" class="form-control" th:value="${dos.email}"/>


                <br/>


                <label><strong>Phone Number: </strong></label>
                <input id="mobile" class="form-control" th:value="${dos.mobile}"/>


                <br/>
                <label><strong>Username: </strong></label>
                <input id="username" readonly="true" class="form-control" th:value="${dos.username}"/>


                <br/>

                <div id="updatedodiv" >
                    <a id="updatedo"  class="btn btn-primary" >Update</a>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container mt-5" id="takeaction">
    <div class="row justify-content-center">
        <div class="col-md-6 mb-5 mb-md-0">
            <!--<div class="block">-->
            <div class=" shadow-lg p-4 wow">
                <label><strong>Take Action:</strong></label><br>
                <br>
                <select id="actions" class="form-select">
                    <option value="">Select</option>
                    <option value="1">Forward</option>
                    <option value="2">Process</option>
                    <option value="3">Alert Designated Officer</option>
                </select>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5" id="forwardto">
    <div class="row justify-content-center">
        <div class="col-md-6 mb-5 mb-md-0">
            <!--<div class="block">-->
            <div class=" shadow-lg p-4 wow">
                <label><strong>Forward To</strong></label>
                <br/>
                <br/>
                <div th:each="d : ${userslist}">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="users" th:id="'usercode_' + ${d.usercode}"
                               checked="true" th:value="${d.usercode}">
                        <label class="form-check-label" th:for="'usercode_' + ${d.usercode}">
                            <span th:text="${d.fullname}"></span>
                        </label>
                    </div>
                    <br/>
                </div>

                <div class="form-group">
                    <label>Instruction:</label><br>
                    <textarea id="forwardremarkstxt" name="forwardremarkstxt" class="form-control"  placeholder="Please enter instructions for the Sub Ordinate"></textarea>

                    <br>

                </div>
                <br>
                <div class="container mt-2 text-center">
                    <a  class="btn btn-primary" id="showmodal">
                        Add User
                    </a>
                    <button id="forwardbtn" type="submit" class="btn btn-success">SUBMIT</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5" id="sendalert">
    <div class="row justify-content-center">
        <div class="col-md-6 mb-5 mb-md-0">
            <!--<div class="block">-->
            <div class=" shadow-lg p-4 wow">
                <label><strong></strong></label>
                <br/>
                <br/>
                <div class="form-group">
                    <label>Enter Alert:</label><br>
                    <textarea id="alertcontent" name="alertcontent" class="form-control"  placeholder="Please enter Alert for the Designated Officer"></textarea>

                    <br>

                </div>
                <br>
                <div class="container mt-2 text-center">
                    <a  class="btn btn-primary" id="sendalertbtn">
                        Send Alert
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>

    <form id="processappeal" autocomplete="off" enctype="multipart/form-data">
        <div class="container mt-5" id="processappeals">
            <div class="row justify-content-center">
                <div class="col-md-6 mb-5 mb-md-0">
                    <div class="shadow-lg p-4 wow">

                        <div class="form-group mb-3">
                            <h5 class="text-center" style="color: #029db1;"><strong>Process Appeal</strong></h5>
                            <hr/>
                        </div>

                        <div class="form-check">
                            <!-- Iterate over the `maction` list -->
                            <div th:each="d : ${maction}">
                                <!-- Case when `d.actioncode` equals '3' -->
                                <div th:if="${d.actioncode == '3'}">
                                    <input type="radio" class="actions dispose" th:name="'appelateactioncode'" th:value="${d.actioncode}" id="dispose" />
                                    <label class="form-check-label disposelabel" th:for="'dispose'">
                                        <span th:text="${d.actions}">Action Description</span>
                                    </label>
                                    <br/>
                                </div>

                                <!-- Case when `d.actioncode` equals '9' -->
<!--                                <div th:if="${d.actioncode == '9'}">-->
<!--                                    <input type="radio" class="actions dispose" th:name="'appelateactioncode'" th:value="${d.actioncode}" id="penalty" style="display:none;" />-->
<!--                                    <label class="form-check-label disposelabel" th:for="'penalty'" style="display:none;">-->
<!--                                        <span th:text="${d.actions}">Action Description</span>-->
<!--                                    </label>-->
<!--                                    <br/>-->
<!--                                </div>-->

                                <!-- Default case when none of the above conditions are met -->
                                <div th:unless="${d.actioncode == '3' || d.actioncode == '9'}">
                                    <input type="radio" class="actions dontdispose" th:name="'appelateactioncode'" th:value="${d.actioncode}" />
                                    <label class="form-check-label dontdisposelabel" th:for="'action'">
                                        <span th:text="${d.actions}">Action Description</span>
                                    </label>
                                    <br/>
                                </div>
                            </div>
                        </div>

                        <br/>

                        <div id="rejectaction">
                            <div class="form-group">
                                <label>Remarks:</label><br/>
<!--                                <select id="selectremarks" name="remarks" class="form-select">-->
<!--                                    <option value="">Select</option>-->
<!--                                    <div th:each="d : ${remarkslist}">-->
<!--                                        <option th:value="${d.remarksid}" th:text="${d.remarks}"></option>-->
<!--                                    </div>-->
<!--                                    <option value="0">Others</option>-->
<!--                                </select>-->
                                <select id="selectremarks" name="remarks" class="form-select">
                                    <option value="">Select</option>
                                    <!-- Iterating over the remarkslist to create options -->
                                    <option th:each="d : ${remarkslist}" th:value="${d.remarksid}" th:text="${d.remarks}"></option>
                                    <option value="0">Others</option>
                                </select>

                                <textarea class="form-control" name="remarkstxt" id="remarks" placeholder="Please enter remarks"></textarea>
                                <br/>
                            </div>
                            <br/>
                            <div class="form-group">
                                <label>Upload Signed & Sealed Order:</label><br/>
                                <input type="file" id="file1" name="file1"/>
                                <br/>
                            </div>
                            <br/>
                        </div>

                        <div class="form-group" id="rejected">
<!--                            <label th:text="${processappeal.appelateactioncode.status} + ' on: ' + ${#dates.format(processappeal.appelatedate, 'dd-MM-yyyy')}"></label>-->
                            <br/>
                            <br/>
                        </div>

                        <br/>

                        <div class="form-group callforhearingaction" id="callforhearingaction">
                            <label for="hearingdate">Hearing Date:</label><br/>
                            <input type="date" th:field="${processappeal.firsthearingdate}" class="form-control dates" id="hearingdate"/>
                            <input type="hidden" th:field="${processappeal.hearingtype}" class="form-control dates" id="hearingtype"/>
                        </div>
                        <br/>

                        <div class="form-group callforhearingaction">
                            <div class="row">
                                <div class="col-6">
                                    Hearing Start Time:
                                    <input type="time" th:field="${processappeal.hearingtime1}" class="form-control dates" id="hearingtime1"/>
                                </div>
                                <div class="col-6">
                                    Hearing End Time:
                                    <input type="time" th:field="${processappeal.hearingendtime1}" class="form-control dates" id="hearingendtime1"/>
                                </div>
                            </div>
                        </div>
                        <br/>

                        <div class="form-group callforhearingaction" id="offline">
                            <label for="venue1">Hearing Venue:</label><br/>
                            <input type="text" th:field="${processappeal.venue1}" class="form-control dates" id="venue1" maxlength="60"/>
                        </div>
                        <br/>

                        <div class="container mt-2 text-center">
                            <input type="hidden" id="appealCodes" th:value="${appeallist.appealcode}" />
                            <input id="submitprocessbtn" type="submit" class="btn btn-default " value="Submit"  />

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>


<br>
<!--<div class="container mt-2 text-center">-->
<!--    <input id="submitprocessbtn" type="submit" class="btn btn-default "   value="Submit"  />-->

<!--</div>-->
</div>
</div>
</div>
</div>

<br>
<div class="container mt-5" id="Current">
    <div class="row justify-content-center">
        <div class="col-md-12 mb-5 mb-md-0">
            <!--<div class="block">-->
            <div class=" shadow-lg p-4 wow">



                <div class="form-group">

                    <table class="table table-striped " >
                        <thead>
                        <tr>
                            <th colspan="4" id="th1">Appeal Transactions</th>
                        </tr>
                        <tr>
                            <th>Transaction Details</th>
                            <th>Transaction Date</th>
                            <th>Action Taken By</th>
                            <th>Other Details</th>


                        </tr>
                        </thead>
                        <tbody>

                            <tr th:each="d : ${transactionlist}">
                                <td th:text="${d.transactiondetails}"></td>
                                <td>
                                    <!-- Date formatting in Thymeleaf -->
                                    <span th:text="${#dates.format(d.transactiondate, 'yyyy-MM-dd')}"></span>
                                </td>
                                <td th:text="${d.usercode.fullname}"></td>
                                <td>
                                    <!-- Conditional Rendering -->
                                    <div th:if="${d.actioncode.actioncode == '1'}">
                                        Hearing Date: <span th:text="${#dates.format(d.hearingdate, 'yyyy-MM-dd')}"></span><br/>
                                        Hearing Time: <span th:text="${d.hearingtime}"></span>
                                        <div th:if="${processappeal.hearingtype == '2'}">
                                            <br/>
                                            <label><strong>VC Link: </strong></label> <span th:text="${d.vclink}"></span>
                                        </div>
                                    </div>
                                    <div th:if="${d.actioncode.actioncode == '2' or d.actioncode.actioncode == '3'}">
                                        <span th:text="${d.remarks}"></span><br/>
                                        <div th:if="${#strings.length(d.orderdoc) > 0}">
                                            <a th:href="@{'vieworderdoc.htm?tcode=' + ${d.transactionscode}}" target="_blank">View Order Document</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>


                        </tbody>
                    </table>


                </div>
                <br>



            </div>


        </div>
    </div>
</div>
<br/>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ADD USER</h5>
                <button type="button" class="close" id="hidemodal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--<div class="container mt-5">-->
                <div class="row justify-content-center">
                    <div class="col-md-12 mb-5 mb-md-0">
                        <!--<div class="block">-->
                        <div class=" shadow-lg p-4 wow">
<!--                            <sec:csrfInput />-->
                            <div class="form-group mb-3">
                                <h5 class="text-center" ><strong>ADD USER</strong></h5>
                                <hr/>
                            </div>
                            <div class="form-group">
                                <label for="fullname">Full Name</label>
                                <input type="text" class="form-control" id="fullname"  placeholder="Enter Full Name">

                            </div>
                            <br>
                            <div class="form-group">
                                <label for="designation">Designation</label>
                                <input type="text" class="form-control" id="designation"  placeholder="Enter Designation">

                            </div>
                            <br>

                            <div class="form-group">
                                <label for="username">Email ID</label>
                                <input type="email" class="form-control" id="email"  placeholder="Enter Email">

                            </div>
                            <br>



                            <div class="form-group">
                                <label for="contact">Contact</label>
                                <input type="contact" class="form-control" id="contact"  placeholder="Enter contact">

                            </div>
                            <br>
                            <div class="form-group">
                                <label for="username">Enter Username: (To be used when logging in)</label>
                                <input type="username" class="form-control" id="username"  placeholder="Enter username for Login">

                            </div>
                            <br>

                            <br>
                            <div class="container mt-2 text-center">
                                <input type="hidden" name="randomKey" id="randomKey" value="${randomKey}"/>
                                <!--<button id="savebtn" type="submit" class="btn btn-primary">SUBMIT</button>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--</div>-->
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" id="hidemodal">Close</a>
                <a class="btn btn-primary" id="saveuser">Save user</a>
            </div>
        </div>
    </div>
</div>


    <script th:src="@{/web/js/jsfiles/viewap.js}" type="text/javascript"></script>
    <link th:href="@{/web/css/cssfiles/viewap.css}" rel="stylesheet">


</main>
</html>