<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:insert="~{layout/headerFooterDynamicLayout.html}">
<main th:fragment = "content">

    <form enctype="multipart/form-data" autocomplete="off" id="whatsnew">
<!--        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->

        <div class="container-fluid mt-5 w-50">
            <div class="row justify-content-center">
                <div class="col-md-12 mb-5 mb-md-0">
                    <div class="shadow-lg p-4 wow">

                        <!-- CSRF Input for Spring Security -->
<!--                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->

                        <div class="form-group mb-3">
                            <h5 class="text-center"><strong>Manage Services</strong></h5>
                            <hr/>
                        </div>
                        <br>

                        <div class="form-group">
                            <!-- Select Service Dropdown -->
                            <label for="service">Select Service:</label>
                            <select id="service" class="form-select">
                                <option value="">Select</option>
                                <th:block th:each="d : ${serviceslist}">
                                    <option th:value="${d.servicecode}" th:text="${d.servicename}"></option>
                                </th:block>
                            </select>
                        </div>

                        <div>OR</div>

                        <!-- Add Service Name -->
                        <div class="form-group">
                            <label for="servicename">Add Service Name:</label>
                            <input type="hidden" id="servicecode" class="form-control"/>
                            <input id="servicename" class="form-control" placeholder="Enter Service Name" required="true"/>
                        </div>

                        <br/>

                        <!-- Subservices Table -->
                        <div class="form-group">
                            <table id="userstable" class="table table-striped datatable">
                                <thead>
                                <tr>
                                    <th>Sub Service Name</th>
                                    <th>SLA</th>
                                    <th>Remove</th>
                                </tr>
                                </thead>
                                <tbody id="subservicesgrid">
                                <tr th:each="d : ${subservices}">
                                    <td>
                                        <input type="hidden" th:value="${d.subservicecode}" class="form-control"/>
                                        <input th:value="${d.subservicename}" class="form-control"/>
                                    </td>
                                    <td>
                                        <input th:value="${d.stipulatedtime}" class="form-control"/>
                                    </td>
                                    <td>
                                    <td>
                                        <a class="btn btn-danger remove" id="${d.subservicecode}" th:value="${d.subservicecode}" th:onclick="'removeSubservice(' + ${d.subservicecode} + ')'">Remove</a>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <br/>

                        <!-- Submit Buttons -->
                        <div class="container mt-2 text-center">
                            <button type="submit" class="btn btn-primary" id="submitbtn">Submit</button>
                            <button type="button" class="btn btn-info" id="addcontactbtn">Add Row</button>
                            <button type="button" class="btn btn-danger" id="delcontactbtn">Remove Last Row</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <link th:href="@{/web/css/cssfiles/fileappeal.css}" rel="stylesheet">
    <script th:src="@{/web/js/jsfiles/addservices.js}" type="text/javascript"></script>



</main>
</html>