<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:insert="~{layout/headerFooterDynamicLayout.html}">
<main th:fragment = "content">
    <form id="meeting" enctype="multipart/form-data" autocomplete="off">
<!--        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->

        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6 mb-5 mb-md-0">
                    <div class="shadow-lg p-4 wow">
                        <div class="form-group mb-3">
                            <h5 class="text-center"><strong>Manage Meetings</strong></h5>
                            <div class="text-success" th:text="${savesuccess}"></div>
                            <div class="text-danger" th:text="${saveerror}"></div>
                            <hr />
                        </div>
                        <br />
                        <div class="form-group">
                            <label>Meeting Name:</label>
                            <input type="hidden" name="meetingid" id="meetingid" class="form-control" />
                            <input type="text" name="details" id="details" class="form-control" placeholder="Enter meeting name" required="true" />
                        </div>
                        <br />

                        <div class="form-group">
                            <label>Meeting Date:</label>
                            <input type="date" name="meetingdate" id="meetingdate" class="form-control" required="true" />
                        </div>
                        <br />

                        <div class="form-group">
                            <label>Upload Meeting Document:</label>
                            <br />
                            <span class="text-danger">Only jpeg, jpg, png, pdf file within 2MB are allowed</span>
                            <br />
                            <input type="file" class="form-control" name="doc" id="meetingdoc" />
                            <span id="viewdoc"></span>
                        </div>
                        <br />

                        <div class="container mt-2 text-center">
                            <input type="submit" class="btn btn-primary submitMeeting" value="Submit" />
                            <input type="hidden" class="form-control" th:value="${res}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="container">
        <div class="card">
            <div class="card-header">
                <strong>Meeting List</strong>
            </div>
            <div class="card-body">
                <table id="notificationslisttable" class="table datatable">
                    <thead>
                    <tr>
                        <th>Meeting Details</th>
                        <th>Date</th>
                        <th>Document</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="meeting : ${meetinglist}">
                        <td th:text="${meeting.details}"></td>
                        <td th:text="${meeting.meetingdate}"></td>
                        <td>
                            <a class="btn btn-primary" th:href="@{/public/viewmeetingdoc/{meetingid}(meetingid=${meeting.meetingid})}" target="_blank">View Meeting</a>
                        </td>
                        <td>
                            <a class="btn btn-info meeting" th:id="${meeting.meetingid}">Edit</a>
                            <a class="btn btn-danger delete" th:id="${meeting.meetingid}">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script th:src="@{/web/js/jsfiles/meetings.js}" type="text/javascript"></script>


</main>
</html>