<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:insert="~{layout/headerFooterLayout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <main th:if="${albumPhotos == null}" th:fragment="content">
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Albums</h2>
                    <!--                        <ol>
                                                <li><a href="index.html">Home</a></li>
                                                <li>Inner Page</li>
                                            </ol>-->
                </div>

            </div>
        </section><!-- End Breadcrumbs Section -->
        <section class="inner-page">
            <div class="container common-container four_content ">

                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col" th:each="album : ${albums}">
                        <div class="card h-100">
<!--                            <img src="data:image/png;base64,${d[2]}" height="250px" class="card-img-top" alt="...">-->
                            <img th:src="@{/public/albums/thumbnail/{albumid}(albumid=${album.albumid})}" height="250px" class="card-img-top" alt="Thumbnail"/>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <span th:text="${album.albumname}"></span>
                                </h5>
                                <hr>
                                <p class="card-text d-grid">
                                    <a th:href="@{/public/albums?albumid={albumid}(albumid=${album.albumid})}" class="btn btn-block btn-primary">View</a>
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Created on : <span th:text="${#dates.format(album.albumdate, 'MMM d, yyyy')}"></span></small>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
<!--            <div class="row mt-4" th:if="${albumPhotos != null}">-->
<!--                <div class="col-12">-->
<!--                    <h2>Photos in Album: <span th:text="${selectedAlbum.albumname}"></span></h2>-->
<!--                </div>-->
<!--                <div class="col" th:each="photo : ${albumPhotos}">-->
<!--                    <div class="card">-->
<!--                        <img th:src="@{${photo.photoPath}}" height="250px" class="card-img-top" alt="Photo"/>-->
<!--                        <div class="card-body">-->
<!--                            <p class="card-text" th:text="${photo.status}">Photo Status</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </section>
        </main>

        <main th:if="${albumPhotos != null}" th:fragment="content">
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Gallery</h2>
                    <!--                        <ol>
                                                <li><a href="index.html">Home</a></li>
                                                <li>Inner Page</li>
                                            </ol>-->
                </div>

            </div>
        </section><!-- End Breadcrumbs Section -->
        <section class="inner-page">
            <section id="gallery" class="gallery">
                <div class="container">

                    <div class="section-title">
                        <h2><i class="bi bi-card-image"></i> <span th:text="${selectedAlbum.albumname}"></span></h2>
                        <!--<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>-->
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row g-0">
                        <!--                        <c:forEach var="d" items="${photoslist}">-->
                        <!--                            <div class="col-lg-3 col-md-4">-->
                        <!--                                <div class="gallery-item" style="max-height: 300px">-->
                        <!--                                    <a href="data:image/jpg;base64,${d[1]}" class="galelry-lightbox" >-->
                        <!--                                        <img src="data:image/png;base64,${d[1]}" alt="" class="img-fluid" style="width:100%;height: 300px">-->
                        <!--                                    </a>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                        </c:forEach>-->

                        <div class="col-lg-3 col-md-4" th:each="photos : ${albumPhotos}">
                            <div class="gallery-item" style="max-height: 300px">
<!--                                <a href="#" class="galelry-lightbox" >-->
<!--                                    <img src="@{${photos.photo}}" alt="" class="img-fluid" style="width:100%;height: 300px">-->
                                    <img th:src="@{/public/photos/{photoid}(photoid=${photos.photoid})}" height="250px" class="card-img-top" alt="Photo"/>
<!--                                </a>-->

                            </div>
                        </div>



                        <!--                        <div class="col-lg-3 col-md-4">
                                                    <div class="gallery-item">
                                                        <a href="assets2/assets/images/2.jpg" class="galelry-lightbox">
                                                            <img src="assets2/assets/images/2.jpg" alt="" class="img-fluid">
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="col-lg-3 col-md-4">
                                                    <div class="gallery-item">
                                                        <a href="assets2/assets/images/3.jpg" class="galelry-lightbox">
                                                            <img src="assets2/assets/images/3.jpg" alt="" class="img-fluid">
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="col-lg-3 col-md-4">
                                                    <div class="gallery-item">
                                                        <a href="assets2/assets/images/4.jpg" class="galelry-lightbox">
                                                            <img src="assets2/assets/images/4.jpg" alt="" class="img-fluid">
                                                        </a>
                                                    </div>
                                                </div>-->



                    </div>

                </div>
            </section>
        </section>


    </main>

</body>
</html>