<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:insert="~{layout/headerFooterLayout.html}">
<head>
    <meta charset="UTF-8">
    <title>MSPSDC</title>
</head>
<body>
<main th:fragment="content">
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>MEGHALAYA STATE PUBLIC SERVICES DELIVERY COMMISSION</h2>

                <!--                        <ol>
                                            <li><a href="index.html">Home</a></li>
                                            <li>Inner Page</li>
                                        </ol>-->
            </div>

        </div>
    </section><!-- End Breadcrumbs Section -->
    <section class="inner-page">
        <div class="container common-container four_content ">
            <h4>About The Commission</h4>
            <p class="text-justify">
                The Meghalaya Right to Public Services Act, 2020 was enacted by the State to guarantee citizen’s right to time-bound delivery of notified citizen-related services from Government offices. The Commission was set up to oversee, monitor and regulate the implementation of this Act. It has the jurisdiction, powers and functions to ensure that notified public services to citizens of the State are provided and to impose penalty on delinquent public officers if they fail to deliver an entitled service within the stipulated time.
            </p>
            <p class="text-justify">
                Presently, 187 services of various Government Departments have been notified under this Act. Citizens who apply for any of these services have the right to receive these services in time and can approach the Commission as the second Appellate Authority in case the services have been denied or delayed wrongfully.
            </p>

            <p>Powers of the Meghalaya State Public Services Delivery Commission
            </p>
            <ol>
                <li>
                    The State Public Services Delivery Commission shall have the same powers as are vested in a Civil Court under the Code of Civil Procedure, 1908 in respect of the following matters, namely :-
                    <ol type="a">
                        <li>Summoning and enforcing the attendance of any person and examining him on oath;</li>
                        <li>Discovery and production of any document or other material object liable to be produced as evidence;</li>
                        <li>Receiving evidence on affidavits;</li>
                        <li>Requisitioning of any public record;</li>
                        <li>Issuing summons for examination of witnesses;</li>
                        <li>Reviewing its decisions, direction and orders; and</li>
                        <li>Any other matter which may be prescribed.</li>
                    </ol>
                </li>
                <li>
                    The State Public Services Delivery Commission shall not be bound by the procedure laid down in the Code of Civil Procedure, 1908 but shall be guided by the principles of natural justice and subject to the other provisions of this Act and of any Rules made thereunder. The State Public Services Delivery Commission shall have the powers to regulate its own procedure.
                </li>
                <li>
                    All proceedings before the State Public Services Delivery Commission shall be deemed to be judicial proceedings within the meaning of Section 193 and Section 228 of the Indian Penal Code and the State Public Services Delivery Commission shall be deemed to be a Civil Court for the purposes of Section 345 and Section 346 of the Code of Criminal Procedure, 1973.
                </li>
                <li>
                    No Civil Court shall have jurisdiction to settle, decide or deal with any question or to determine any matter which is by or under this Act required to be settled, decided or dealt with or to be determined by the State Public Services Delivery Commission.
                </li>

            </ol>
            <hr /> </div>
    </section>
</main>


</body>
</html>