<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:insert="~{layout/headerFooterLayout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main th:fragment="content">
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Functions & Duties</h2>
                <!--                        <ol>
                                            <li><a href="index.html">Home</a></li>
                                            <li>Inner Page</li>
                                        </ol>-->
            </div>

        </div>
    </section><!-- End Breadcrumbs Section -->
    <section class="inner-page">
        <div class="container common-container four_content ">
            <p class="text-justify">
                The Commission’s role is to oversee, monitor and regulate the implementation of the Meghalaya Right to Public Services Act, 2020 in the State.
            </p>

            <p class="text-justify">
                In order to do this effectively, the State Public Service Delivery Commission may take steps to :-
            <ol type="i">
                <li>
                    develop and organize campaigns and programmes to advance the understanding of the citizens, as to how to exercise the rights contemplated under the Act;
                </li>
                <li>
                    encourage public authorities as deemed appropriate to participate in the development and organization of programmes referred to in clause (i) above and also to undertake such programmes themselves;
                </li>
                <li>
                    promote timely and effective dissemination of accurate information by public authorities about the notified services and timelines and the processes for applications, and penalties therein;
                </li>
                <li>
                    train the nodal officers and designated officers and other public servants, as the case may be, of their duties under the Act;
                </li>
                <li>
                    compile a guide containing such information, in an easily comprehensible form and manner, as may reasonably be required by a person who wishes to exercise any right specified under this Act;
                </li>
                <li>
                    update and publish guidelines referred to in clause (v) above at regular intervals which shall, in particular and without prejudice to the generality of the clause (v) above, include:-
                    <ol type="a">
                        <li>
                            The objectives of the Act;
                        </li>
                        <li>
                            The manner and the form in which application for the services shall be made to the Designated Officer or appeal shall be filed to the Appellate Authorities;
                        </li>
                        <li>
                            Any additional regulations or circulars made or issued for obtaining services in accordance with the Act.
                        </li>
                        <li>
                            Measures to improve the efficiency in the delivery of citizen related services.
                        </li>
                    </ol>
                </li>
            </ol>
            </p>
            <hr /> </div>
    </section>

</main>

</body>
</html>