<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:insert="~{layout/headerFooterLayout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <main th:fragment="content">
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Presentations</h2>
                    <!--                        <ol>
                                                <li><a href="index.html">Home</a></li>
                                                <li>Inner Page</li>
                                            </ol>-->
                </div>

            </div>
        </section><!-- End Breadcrumbs Section -->
        <section class="inner-page">
            <div class="container common-container four_content ">
                <div class="scroller">
                    <table class="table table-striped " >
                        <tr>

                            <th align="left" valign="middle">Presentations</th>
                            <th align="left" valign="middle">Date</th>
                        </tr>
                        <tr th:each="presentation : ${presentations}">

                            <td>
                                <a th:href="@{/public/viewpresentationdoc/{presentationid}(presentationid=${presentation.presentationid})}" target="_blank">
                                    <span th:text="${presentation.details}"></span>
                                </a>
                            </td>
                            <td>
                                <span th:text="${#dates.format(presentation.presentationdate, 'MMM d, yyyy')}"></span>
                            </td>


                        </tr>

<!--                        <tr>-->
<!--                            <td><a href="pdf/presentations/cs19june2023.pdf" target="_blank">Review Meeting with CS (2)</a></td>-->
<!--                            <td>19-Jun-2023</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td><a href="pdf/presentations/cs28oct2022.pdf" target="_blank">Review Meeting with CS (1)</td>-->
<!--                            <td>28-Oct-2022</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td><a href="pdf/presentations/matijuly2022.pdf" target="_blank">Overview MATI</a></td>-->
<!--                            <td>Jul-2022</td>-->
<!--                        </tr>-->

<!--                        <tr>-->
<!--                            <td><a href="pdf/presentations/launch15july2022.pdf" target="_blank">Launch of Web Portal</a></td>-->
<!--                            <td>15-Jul-2022</td>-->
<!--                        </tr>-->









                    </table>
                </div>
                <hr /> </div>
        </section>
    </main>

</body>
</html>