<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:insert="~{layout/headerFooterLayout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <main th:fragment="content">
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Our Contacts</h2>
                    <!--                        <ol>
                                                <li><a href="index.html">Home</a></li>
                                                <li>Inner Page</li>
                                            </ol>-->
                </div>

            </div>
        </section><!-- End Breadcrumbs Section -->
        <section class="inner-page">
            <div class="container common-container four_content ">
                <div style="overflow-x:auto;">
                    <table class="table table-striped " >
                        <tr>
                            <td><strong>SN</strong></td>
                            <td><strong>Name</strong></td>
                            <td><strong>Designation</strong></td>
                            <td><strong>Telephone No.</strong></td>
                            <td><strong>Email ID</strong></td>
                        </tr>


                            <tr th:each="contact : ${contacts}">
                                <td th:text="${contact.contactid}"></td>
                                <td th:text="${contact.contactname}"></td>
                                <td th:text="${contact.designation}"></td>
                                <td><a href="tel:${contact.phone}"><span th:text="${contact.phone}"></span></a></td>
                                <td><a href="mailto:${contact.email}"><span th:text="${contact.emailtxt}"></span></a></td>
                            </tr>



                    </table>
                </div>
                <hr /> </div>
        </section>
    </main>

</body>
</html>